{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="home" class="home">
        <div class="overlay">
            <div class="home_skew_border">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 ">
                            <div class="main_home_slider ">
                                <div class="single_home_slider">
                                    <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                        <h1>MOOD FOR CAMPING!</h1>
                                        <h3>WELCOME TO CAMPOASIS</h3>
                                        <div class="separator"></div>
                                        <p class="welcome">Are you a youth group, university student teams/clubs, school adventure clubs,
                                            Sports team and or other young people group. Want to experience adventure and fun with other
                                            young people of your age! Over 250 000 young people take a break at CampOasis.
                                            Here is what can you expect?</p>
                                        <ul class="features">
                                            <li >Lots of activities including zip wire, rock climbing and also learning new skills</li>
                                            <li> Unforgottable days and nights of adventures and reconnecting with nature</li>
                                            <li>Forget school, homework, assignments and parents</li>
                                            <li>Relax and recharge with fresh air, campfire stories and open fire cooked food</li>
                                            <li>Spend quality time with friends and make new ones</li>
                                            <li>Importantly, take no baggage, just hire all your camping requirements</li>
                                        </ul>
                                        <div class="home_btn">
                                            <a href="{% url 'register' %}" class="btn btn-lg m_t_10">GET STARTED NOW</a>
                                            <a href="{% url 'login' %}" class="btn btn-default">LEARN MORE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}